body{
background-color: lightgrey;
}

#headline1{
color:blue;
margin-left:400px;
}

#headline2{
color:black;
}
#headline3{
color:red;
margin-left:400px;
}

#headline4{
color:green;
margin-left:400px;
}


h3 #green{
color:green;

}

#green{
color:green;
}

#red{
color:red;
}


